a {
  text-decoration: none;
  color: black;
}

.header-color {
  background-color: #5f9aa4;
}

.flex {
  display: flex;
}

.header {
  font-family: 'Oleo Script', cursive;
  color: white;
  font-size: 40px;
  margin: 0;
}

.justify-center {
  justify-content: center;
}

.center-all {
  justify-content: center;
  align-items: center;
}

.margin-top-20 {
  margin-top: 20px;
}

input {
  border-radius: 15px;
  padding-left: 10px;
  border: 1px solid;
  width: 200px;
  height: 30px;
}

.categories {
  background-color: #e1f6fc;
  width: 350px;
  height: 600px;
  margin-top: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.search-results-container {
  background-color: #e1f6fc;
  width: 350px;
  height: 600px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.restrict-height {
  overflow: scroll;
}

.restrict-height::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.height-category {
  height: 30px;
}

.border-category {
  border-radius: 20px;
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  color: inherit;
}

.border-category:hover {
  cursor: pointer;
}

.border-category:active {
  transform: translateY(0.25rem);
}

.align-center {
  text-align: center;
}

.food-category {
  height: 40px;
  width: 160px;
}

.justify-between {
  justify-content: space-between;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.remove-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.selected {
  background-color: #d9e8eb;
}

.search-result-text {
  margin-bottom: 8px;
  margin-right: 7em;
}

.submit-button {
  background-color: #ec9393;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 15px;
  color: white;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  background-color: white;
  font-size: 13px;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
  animation: slide-up 1s ease;
}

@keyframes slide-up {
  0% {
    transform: translateY(90px);
  }

  100% {
    transform: translateY(0);
  }
}

body {
  overflow: hidden;
}

.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.col-thirds {
  flex-basis: calc(100% / 3);
}

.col-20 {
  width: 20%;
}

.col-80 {
  width: 80%;
  padding-left: 7px;
}

.col-90 {
  width: 90%;
}

.padding-tb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-radius {
  border-radius: 1rem;
}

.image-size-adjust {
  height: 45px;
  width: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  li {
    font-size: 16px;
    margin-top: 14px;
  }

  .image-size-adjust {
    height: 60px;
    width: 70px;
  }

  .categories {
    width: 500px;
  }

  input {
    width: 250px;
  }

  .search-results-container {
    width: 500px;
  }

  .search-result-text {
    margin-bottom: 8px;
    margin-right: 13em;
  }
}
